body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    width: 600px;
    height: 400px;
    position: relative;
    border: 1px solid #272525;
    background-color: white;
}
.box-1 {
    background-color: #b4e197;
    position: absolute;
    border: 1px solid #000000;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
}
.box-2 {
    background-color: #f6d55c;
    position: absolute;
    border: 1px solid #000000;
    top: 120px;
    left: 10px;
    width: 90px;
    height: 120px;
}
.box-3 {
    background-color: #f6d55c;
    position: absolute;
    border: 1px solid #000000;
    top: 250px;
    left: 10px;
    width: 90px;
    height: 120px;
}
.box-4 {
    background-color: #ed6a5a;
    position: absolute;
    border: 1px solid #000000;
    top: 120px;
    left: 110px;
    right: 10px;
    height: 120px;
}
.box-5 {
    background-color: #4da7db;
    position: absolute;
    border: 1px solid #000000;
    top: 250px;
    left: 110px;
    right: 10px;
    height: 120px;
}