body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    width: 600px;
    height: 400px;
    position: relative;
    border: 1px solid #272525;
    background-color: white;
}
.box-1 {
    background-color: #ffe18f;
    position: absolute;
    border: 1px solid #000000;
    top: 15px;
    left: 30px;
    width: 100px;
    height: 360px;
}
.box-2 {
    background-color: #ffd900;
    position: absolute;
    border: 1px solid #000000;
    top: 15px;
    left: 170px;
    width: 100px;
    height: 360px;
}
.box-3 {
    background-color: #140253;
    position: absolute;
    border: 1px solid #000000;
    top: 15px;
    right: 180px;
    width: 100px;
    height: 360px;
}
.box-4 {
    background-color: #a19fff;
    position: absolute;
    border: 1px solid #000000;
    top: 15px;
    right: 30px;
    width: 100px;
    height: 360px;
}