.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
    float: right;
}
.box-1 {
    background-image: url(../img/burung1.png);
    background-size: cover;
}
.box-2 {
    background-image: url(../img/burung2.png);
    background-size: cover;
}
.box-3 {
    background-image: url(../img/burung3.png);
    background-size: cover;
}
.box-4 {
    background-image: url(../img/burung4.png);
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: row-reverse;
}
img{
    height: 150px;
    margin: 10px;
}